body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h1 span {
  color: orange;
}
h3 span {
  color: orange;
}
.heading {
  font-size: 45px;
}
.flexible-section {
  display: flex;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 100%;
}
.link-button {
  text-decoration: none;
  padding: 10px 50px;
  background-image: linear-gradient(orange, tomato);
  color: aliceblue;
  font-weight: 700;
  border-radius: 5px;
}
.first-section {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}
.second-section {
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experiences {
  display: flex;
}
.box-exp {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 10px 5px 50px gray;
  margin-bottom: 40px;
  padding-bottom: 20px;
  padding-left: 30px;
  border-radius: 5px;
}
#full-stack {
  border-left: 7px solid;
  border-image: linear-gradient(orange, tomato);
  border-image-slice: 1;
}
#baby-web {
  border-left: 7px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}

.third-section {
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

#fname {
  width: 40%;
  padding: 20px 20px;
  display: inline-block;
  margin-left: 200px;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
}

#email {
  width: 40%;
  padding: 20px 20px;
  margin-left: 10px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
}
#subject {
  width: 81%;
  padding: 20px 20px;
  margin-top: 20px;
  margin-left: 200px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
}

#message {
  width: 81%;
  padding: 20px 20px;
  margin-top: 20px;
  margin-left: 200px;
  display: inline-block;
  border: 1px solid black;
  border-radius: 20px;
  box-sizing: border-box;
}

#submit {
  width: 10%;
  /* padding: 10px 10px; */
  margin-left: 48%;
  /* display: inline-block; */
  /* border: 1px solid black; */
  /* border-radius: 20px; */
  /* box-sizing: border-box; */
  margin-top: 20px;
  /* color: rgb(84, 84, 182); */
  font-size: 15px;
  /* text-decoration: none; */
  padding: 10px 20px;
  background-image: linear-gradient(orange, tomato);
  color: aliceblue;
  font-weight: 700;
  border-radius: 20px;
}
